/* My styling reset */
*, 
*::before, 
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/* Custom Styling */
:root {
    --windowColor: rgba(94, 154, 211, 0.315);;
    --bgcolor: rgb(56, 56, 56);
    --border: rgb(37, 97, 138);
    --hover: rgb(255, 255, 0);
    --buttonColor: rgb(48, 48, 48);
    --whiteText: rgb(255, 255, 255);
    --blackText: rgb(0, 0, 0);
    --closeBtn: rgba(99, 178, 252, 0.274);
    --cloudGray: rgba(128, 128, 128, 0.596);
    --insetBorder: silver;
    --navBackground: rgba(114, 189, 233, 0);
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgcolor);
    width: 100%;
    height: 100%;
    background-image: url(../images/clouds4.jpg);
    background-size: cover;
    background-position: center;
    
}
.header {
    display: flex;
    flex-direction: row;
    background-color: var(--windowColor);
    border-radius: 30px;
    border: 4px solid var(--border);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    height: 15%;
    width: 90%;
    max-width: 350px;
    margin-top: 10px;
    justify-content: space-between;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titleName {
    font-size: 20px;
    text-align: center;
}
.byJames {
    font-size: 14px;
    color: rgb(255, 0, 0);
    text-decoration: none;
    text-align: center;
}
.img1, .img2 {
    border-radius: 20px;
    padding: 10px;
}
.content {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
h2 {
    text-align: center;
}
.searchContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}
.searchZip {
    height: 2rem;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    border: inset 3px gray;
    max-width: 350px;
    align-self: center;
}
#zipBtn, #clearBtn, #prevCity {
    background-color: var(--closeBtn);
    max-width: 200px;
    align-self: center;
}
.happyPic {
    background-image: url(../images/bbq.jpg);
    background-size: 100%;
    width: 50%;
    border-radius: 30px;
    margin: 10px;
    padding: 30px;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
}
.weatherContainter {
    /* display: flex;
    flex-direction: column;
    width: 100%; */
}
.todayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.todayQry {
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: var(--windowColor);
    border-radius: 30px;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    list-style: none;
}
.power {
    width: 90%;
    max-width: 450px;
    background-color: var(--whiteText);
    border-radius: 30px;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    height: 100%;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
}
.fiveDayTitle {
    font-size: 20px;
}
.fiveDayContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fiveDay {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}
.days {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.footer {
    
}








.button {
    color: var(--blackText);
    background-color: var(--navBackground);
    height: 3rem;
    width: 100%;
    margin-top: 10px;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    font-size: 18px;
}






a:visited {
    text-decoration: none;
}

.button:hover {
    color: var(--whiteText);
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 5px 1px;
    border: 2px solid white;
    font-size: 24px;
}

.city {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.icon, .icon5 {
    background-color: var(--cloudGray);
}
.icon5 {
    width: 50px;
    height: auto;
}


.font24 {
    font-size: 24px;
}

div ul {
    list-style: none;
}


.forecastText {
    
    width: 100%;
}

.hide {
    display: none;
}