* {
  padding: 0px;
  margin: 0px;
}
li {
  list-style: none;
}
:root {
  --windowColor: rgba(94, 154, 211, 0.589);
  --bgcolor: rgb(56, 56, 56);
  --border: rgb(37, 97, 138);
  --hover: rgb(255, 255, 0);
  --buttonColor: rgb(48, 48, 48);
  --whiteText: rgb(255, 255, 255);
  --blackText: rgb(0, 0, 0);
  --closeBtn: rgba(99, 178, 252, 0.274);
  --cloudGray: rgba(128, 128, 128, 0.596);
  --insetBorder: silver;
  --navBackground: rgba(114, 189, 233, 0);
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/clouds4.jpg);
  background-size: cover;
  background-position: center;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  border: 4px solid var(--blackText);
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px;
  background-color: var(--windowColor);
  display: flex;
  justify-content: space-between;
  width: 96%;
  height: 100px;
  margin: 10px;
  padding: 5px;
}
.title {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
.titleName {
  font-size: 48px;
}
.byJames {
  font-size: 14px;
  color: rgb(255, 0, 0);
  text-decoration: none;
  text-align: center;
}
.img1,
.img2 {
  border-radius: 20px;
  height: auto;
}
.content {
  margin: 10px;
  padding: 5px;
  margin-bottom: 30px;
}
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherContainer {
  display: flex;
  flex-direction: column;
}
.todayContainer {
  width: 100%;
}
.todayQry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
h2 {
  text-align: center;
}
.inputText {
  font-size: 24px;
  text-align: center;
  width: 75%;
}
.searchBtn,
#clearHistoryBtn {
  background-color: var(--closeBtn);
  max-width: 75%;
  align-self: center;
}
.city {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}
.font2 {
  font-size: 18px;
}
.power {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--whiteText);
  border-radius: 30px;
  text-align: center;
  border: 2px solid var(--blackText);
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px;
  height: 100px;
}
.day {
  text-align: center;
  border-radius: 30px;
  border: 2px solid var(--blackText);
  border-radius: 30px;
  box-shadow: 1px 1px 5px 1px;
  background-color: var(--windowColor);
  width: 18%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 5px;
  font-size: 14px;
}
.icon {
  width: 50px;
}
.forecastText {
  font-weight: bold;
}
#Sunday,
#Monday,
#Tuesday,
#Wednesday,
#Thursday,
#Friday,
#Saturday {
  font-size: 24px;
  color: white;
  margin-bottom: 10px;
}
.button {
  color: var(--blackText);
  background-color: var(--navBackground);
  height: 2rem;
  width: 50%;
  margin: 10px 0px;
  border: 4px solid var(--blackText);
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px;
  font-size: 16px;
}
a:visited {
  text-decoration: none;
}
.button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 1px 1px 5px 1px;
  border: 2px solid rgb(255, 255, 255);
}
.dropdown {
  max-width: 200px;
  align-self: center;
  text-align: center;
}
.hide {
  display: none;
}
.searchHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchHistory li {
  padding: 10px;
  width: 40%;
  font-size: 18px;
  border-bottom: 1px solid gray;
  cursor: pointer;
  text-align: center;
}
.fiveDayContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.fiveDayTitle {
  text-align: center;
  margin: 10px 0px;
}
/* when less than 648px this happens */
@media screen and (max-width: 648px) {
  .todayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fiveDayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .day {
    text-align: center;
    border-radius: 30px;
    border: 2px solid var(--blackText);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowColor);
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .power {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    height: 85%;
    width: 90%;
  }
}
/* when between 648px and 800px this happens */
@media screen and (min-width: 648px) and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .inputText {
    font-size: 18px;
    text-align: center;
  }
  .searchContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    width: 25%;
  }
  .weatherContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    width: 75%;
  }
  .todayContainer {
    display: flex;
    justify-content: space-between;
  }
  .todayQry {
    text-align: center;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    height: 85%;
    width: 60%;
  }
  .power {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    height: 85%;
    width: 90%;
  }
  .fiveDayContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .day {
    text-align: center;
    border-radius: 30px;
    border: 2px solid var(--blackText);
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px;
    background-color: var(--windowColor);
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
/* when between 800px and 1100px this happens */
@media screen and (min-width: 801px) and (max-width: 1100px) {
  .content {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .searchContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    width: 25%;
  }
  .weatherContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    width: 75%;
  }
  .todayContainer {
    display: flex;
    justify-content: space-between;
  }
  .todayQry {
    text-align: center;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    height: 85%;
    width: 60%;
  }
  .power {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    height: 85%;
  }
  .fiveDayContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .day {
    width: 18%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .forecastText {
    font-size: 16px;
  }
  .attribute {
    font-size: 12px;
  }
}
/* when greater than 1100 this happens */
@media screen and (min-width: 1101px) {
  .content {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .searchContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    width: 25%;
  }
  .weatherContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    width: 75%;
  }
  .todayContainer {
    display: flex;
    justify-content: space-between;
  }
  .todayQry {
    text-align: center;
    margin: 10px;
    padding: 5px;
    height: 85%;
    width: 25%;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
  }
  .icon5 {
    width: 75px;
  }
  .power {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
    padding: 5px;
    height: 85%;
    width: 25%;
  }
  .fiveDay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .days {
    width: 15%;
  }
  .bbq {
    display: flex;
    width: 40%;
    background-color: var(--windowColor);
    border: 4px solid var(--blackText);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px;
    margin: 10px;
  }
}
